.event-list {
  padding-left: 0;
  width: 100%;
  list-style: none;
}

.event-list p{
  padding: 0;
  margin: 0;
}

.event-list-item {
  width: 100%;
  border-top: 1px solid goldenrod;
  margin-bottom: 10px;
}

.event-list-item {
  width: 100%;
  border-top: 1px solid goldenrod;
  margin-bottom: 10px;
}

.event-list-link {
  color: inherit;
  text-decoration: none;
}

.event-list-name {
  font-family: 'Raleway', sans-serif;
  padding: 10px 0 5px !important;
  font-weight: 600;
  font-size: 1rem;
}

.event-list-dates {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.event-list-small-text {
  font-size: 0.9rem;
}