nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}