.tag-search-wrapper {
  padding-bottom: 50px;
}

.tag-form {
  display: block;
}

.tag-search-input {
  width: 315px;
}

.tag-picker-wrapper {
  padding: 10px 10px;
  border: 1px solid goldenrod;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  width: 300px;
}

.tag-pick-button {
  margin: 5px;
  padding: 5px;
  border: 1px solid green;
  background-color: transparent;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.selected-tag {
  width: max-content;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid green;
  background-color: transparent;
  border-radius: 5px;
}