.layout-wrapper {
  margin: 0 auto;
  min-height: 90vh;
  width: 100%;
  max-width: 1000px;
}

.main {
  background-color: white;
  border-radius: 5px 20px 5px 5px;
  padding: 10px 30px;
  margin-bottom: 30px;
  min-height: calc(100vh - 150px);
}

.main-h1 {
  font-size: 4rem;
  font-weight: 600;
  color: goldenrod;
  margin: 0;
}