html, body, #root {
  width: 100%;
  min-height: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(
    200deg,
    hsl(166deg 71% 22%) 0%,
    hsl(164deg 65% 24%) 11%,
    hsl(162deg 60% 27%) 22%,
    hsl(160deg 55% 29%) 33%,
    hsl(158deg 51% 32%) 44%,
    hsl(155deg 48% 35%) 56%,
    hsl(153deg 44% 38%) 67%,
    hsl(150deg 41% 41%) 78%,
    hsl(147deg 38% 43%) 89%,
    hsl(143deg 36% 46%) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  font-family: inherit;
  cursor: pointer;
}

a:hover {
  color: goldenrod;
}

h1, h2 h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.leaflet-container {
  width: 100%;
  height: 300px;
}

.searchForeground {
  z-index: 1000;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.locationForeground {
  z-index: 1000;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
